textarea {
  min-height: 400px;
}

.email-list-item-read {
  background-color: #EEEEEE;
  border-color: #777777;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 2px;
  padding: 12px;

  .timestamp {
    float: right;
    text-align: right;
  }
}

.email-list-item-unread {
  @extend .email-list-item-read;
  background-color: #FFFFFF;
}
